# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
*.egg-info/
.pytest_cache/

# Logs
*.log
logs/

# IDEs
.vscode/
.idea/

# Environment variables
.env

# Streamlit
.streamlit/


questions.txt